services:
  n8n-ai:
    build: .
    container_name: n8n-sandbox
    restart: unless-stopped
    ports:
      - "5678:5678"
      - "11434:11434"
    volumes:
      - type: bind
        source: ./n8n_data
        target: /home/oceanos/.n8n
      - type: bind
        source: ./ollama_data
        target: /home/oceanos/.ollama
      - type: bind
        source: .
        target: /workspaces/n8n-sandbox
